/*
* Global
*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: url('../img/bg.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Montserrat', sans-serif;
}

:root {
    --lightpink: #ffa4cb;
    --darkpink: #ff62a5;
    --yellow: #ffd478;
    --greenlight: #42f5c5;
    --white: #ffffff;
    --dark: #292929;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: var(--dark);
    text-shadow: 2px 2px 2px var(--darkpink);
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*
* Deck of Cards
*/
.deck {
    align-items: center;
    background: var(--lightpink);
    background: linear-gradient(0deg, var(--lightpink) 0%, var(--yellow) 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 3em;
    min-height: 680px;
    padding: 32px;
    width: 660px;
}

.deck .card {
    align-items: center;
    background: var(--greenlight);
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.35);
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-size: 0;
    height: 125px;
    justify-content: center;
    width: 125px;
}

.deck .card.open {
    background: var(--lightpink);
    cursor: default;
    transform: rotateY(0deg);
}

.deck .card.show {
    font-size: 2.5em;
}

.deck .card.match {
    animation: rotate-center 0.6s ease-in-out both;
    background: var(--darkpink);
    cursor: default;
    font-size: 2.5em;
}

.deck .card.unmatch {
    animation: shake 0.5s;
    background: #ffc852;
    cursor: default;
    font-size: 2.5em;
}

.deck .card.disable {
    pointer-events: none;
}

/*
* Score Panel Section
*/
.score-panel {
    background: var(--yellow);
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 345px;
}

.score-panel .stars {
    display: inline-block;
    margin: 0 5px 0 0;
    margin: 0;
    padding: 0;
}

.modal,
.score-panel .stars li {
    display: inline-block;
    list-style: none;
}

.score-panel .restart {
    cursor: pointer;
    display: inline-block;
}

.score-panel .timer {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
}

/*
* Modal Section
*/
.modal {
    background: #42f5c58e;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    height: auto;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 70%;
    transform: translate(50%, -50%);
    width: 50%;
    z-Index: 1;
}

.btn {
    background-color: var(--darkpink);
    border-radius: 10px;
    border: 0;
    margin: 10px;
    padding: 1em 2em;
}

.hide {
    display: none;
}

/*
* Footer Section
*/
footer {
    background: var(--lightpink);
    padding: .5%;
    align-content: center;
}

p {
    text-align: center;
    font-weight: bold;
    color: var(--white);
}

.social-icons {
    text-align: center;
}

.fab {
    color: var(--dark);
    text-shadow: 2px 2px 2px var(--darkpink);
    font-size: 1.5rem;
    padding: .6%;
}

.fab:hover {
    color: var(--white);
}


/*
* Breakpoints Section
*/
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    .deck {
        width: auto;
    }

    .deck .card {
        height: 100px;
        width: 100px;
    }

    .card {
        margin: 1%;
    }

    .score-panel {
        width: auto;
        padding: 2%;
    }
}

@media (max-width: 487px) {

    .deck .card {
        height: 65px;
        width: 65px;
    }

    #deck {
        padding: 28px;
        min-height: inherit;
    }
}

@media (max-width: 339px) {
    .deck .card {
        height: 50px;
        width: 50px;
    }

}

/*
* Animation's Card Section
*/

/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-9 16:31:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
