/* Global */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: #ffffff url('/img/simp.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Nunito', cursive;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* deck of cards */
.deck {
    align-items: center;
    background: linear-gradient(100deg, rgb(227, 144, 238) 0%, rgb(255, 224, 228) 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 3em;
    min-height: 680px;
    padding: 32px;
    width: 660px;
}

.deck .card {
    align-items: center;
    background: #abd9ff;
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.35);
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 0;
    height: 125px;
    justify-content: center;
    width: 125px;
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
    transform: rotateY(0deg);
}

.deck .card.show {
    font-size: 2.5em;
}

.deck .card.match {
    animation: rotate-center 0.6s ease-in-out both;
    background: #aa7ecd;
    cursor: default;
    font-size: 2.5em;
}

.deck .card.unmatch {
    animation: shake 0.5s;
    background: #fa7949;
    cursor: default;
    font-size: 2.5em;
}

.deck .card.disable {
    pointer-events: none;
}

.score-panel {
    background: linear-gradient(100deg, rgb(226, 144, 236) 0%, rgb(201, 240, 250) 100%);
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 345px;
}

.score-panel .stars {
    display: inline-block;
    margin: 0 5px 0 0;
    margin: 0;
    padding: 0;
}

.modal,
.score-panel .stars li {
    display: inline-block;
    list-style: none;
}

.score-panel .restart {
    cursor: pointer;
    display: inline-block;
}

.score-panel .timer {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
}

.modal {
    background: #ffffff;
    border: 3px solid #02b3e4;
    font-family: 'Nunito', cursive;
    height: auto;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 80%;
    transform: translate(50%, -50%);
    width: 50%;
    z-Index: 4;
}

.btn {
    background-color: #e290ec;
    border-radius: 10px;
    border: 0;
    margin: 10px;
    padding: 1em 2em;
}

.hide {
    display: none;
}


@media screen and (max-width: 650px) {
    ul.deck {
        height: auto;
        margin: 0 10px 10px 0;
        max-width: 85%;
    }

    .card {
        margin-top: 20px;
    }
    .score-panel {
        max-width: 75%;
    }
}

@media screen and (max-width:400px) {
    .deck {
        padding: 25px;
        width: 380px;
        height: 400px;
    }
    .card {
        height: 60px;
        width:  60px;
    }
}


/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-9 16:31:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Media screen for deck and cards */
@media screen and (max-width: 650px){
    ul.deck{
      max-width: 85%;
      height: auto;
      margin: 0 10px 10px 0;
    }
     .card {
       margin-top: 20px;
     }
  }
  .score-panel {
    max-width: 75%;
  }

  @media screen and (max-width:400px){
      .deck {
          padding: 15px;
      }
  }
